<form action="/auth/login" method="POST" class="mt-4 login-wrapper">
  <div class="login__label">Đăng nhập</div>
  <% if (error) { %>
    <h1>
      <%=error %>
    </h1>
    <% } %>
      <div class="mb-3 mt-4 ">
        <label for="email" class="form-label">Tên đăng nhập</label>
        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Nhớ đăng nhập</label>
      </div>
      <button type="submit" class="btn btn-primary">Đăng nhập</button>

      <div class="social__login">
        <h1>Hoặc</h1>
        <ul class="social__list">
          <li class="social__item">
            <a href="/auth/facebook" class="social__link" data-bs-toggle="tooltip" data-bs-original-title="Log In with Facebook">
              <span>Đăng nhập với Facebook</span> <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="social__item">
            <a href="/auth/google" class="social__link" data-bs-toggle="tooltip" data-bs-original-title="Log In with Google">
              <span>Đăng nhập với Google</span> <i class="fab fa-google"></i>
            </a>
          </li>
          
        </ul>
      </div>
</form>