<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <h1>Edit publisher</h1>
            <form action="/admin/publishers/<%= publisher.id %>/edit?_method=PUT" method="POST" id="edit-form">
                <input type="text" name="id" value="<%= publisher.id %>" hidden>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" rules="required|max:255" name="name" class="form-control" id="name" placeholder="Enter name..."
                    value="<%= publisher.name %>"
                  />
                  
                    <% if (errors.length > 0) { %>
                        <% errors.forEach(error => { %>
                            <span class="form-message"><%= error.param ==='name' ? error.msg : '' %></span>
                            <br />
                        <% }) %>
                    <% } else { %>
                        <span class="form-message"></span>
                    <% } %>

                </div>
                <button type="submit" class="btn btn-primary mt-1">Edit</button>
                <a href="/admin/publishers" class="btn btn-outline-primary mt-1">Cancel</a>
            </form>

        </div>
    </div>
</div>

<script>
    const form = new Validator('#edit-form');
</script>

