<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <h1>Create author</h1>
            <form action="/admin/authors/create" method="POST" id="create-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" rules="required|max:255" class="form-control" id="name" placeholder="Enter name...">
                    <span class="form-message"></span>
                </div>
                <div class="form-group mt-1">
                    <label for="description">Description</label>
                    <br />
                    <textarea name="description" rules="max:255" class="form-control" id="description" rows="5"></textarea>
                    <span class="form-message"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-1">Create</button>
            </form>

        </div>
    </div>
</div>

<script>

    const form = new Validator('#create-form');

</script>