<div class="mt-4">
  <div class="courses__sort">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">Thứ tự</button>
    <ul class="dropdown-menu courses__sort-dropdown">
      <li><a class="dropdown-item" href="?_sort&type=asc&column=name">Tên khóa học</a></li>
      <li><a class="dropdown-item" href="?_sort&type=asc&column=createdAt">Ngày đăng</a></li>
      <li><a class="dropdown-item" href="?_sort&type=asc&column=level">Trình độ</a></li>
    </ul>
  </div>
  <div class="row">
    
  </div>
</div>
