<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <h1>Edit category</h1>
            <form action="/admin/categories/<%= category.id %>/edit?_method=PUT" method="POST" id="edit-form"">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" rules="required|max:255" name="name" class="form-control" id="name" placeholder="Enter name..."
                    value="<%= category.name %>"
                  />
                  <span class="form-message"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-1">Edit</button>
                <a href="/admin/categories" class="btn btn-outline-primary mt-1">Cancel</a>
            </form>

        </div>
    </div>
</div>


<script>

    const form = new Validator('#edit-form');

</script>


