<div class="grid">
    <div class="row">
        <% images.map(img=>{ %>
            <div class="g-col-4">
                <img src="/<%=img.name %>" alt="">
            </div>
        <% }) %>
    </div>
</div>