<h1>Tải file lên hệ thống</h1>
<form action="/me/upload" enctype="multipart/form-data" method="POST">
    <label for="upload-file">Khóa học</label>
    <input type="file" name="myFile" id="upload-file" multiple="multiple">
    <input type="submit" value="Submit">
</form>
